#footer {
    background-color: rgb(30, 133, 110);
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.151);
    padding-bottom: .5rem;

    div {
        width: 100%;
        max-width: 800px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 1rem;
    }

    h1 {
        font: 400 1.25rem $title-font;
    }

    p {
        text-align: center;
        font: 400 1rem sans-serif;
    }

    a {
        font-size: 1.25rem;
        text-decoration: none;
        color: black;
    }
}