@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* fonts */
    --logo-font: 'Carter One', cursive;
    --title-font: 'Josefin Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --header-height: 4.375rem;
}

#nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#nav .show ul {
    gap: 5.5rem;
}

#nav .show ul li a{
    font: 700 1.5rem var(--title-font);
}

.project-about-section .project-group-students {
    margin: 1.5rem  1.5rem 2rem 1.5rem;
}

.project-about-section .project-group-students h3 {
    color: white;
    margin-bottom: 1.5rem;
}

.project-about-section .project-group-students ul {
    padding-left: .5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-left: 2px solid white;
    color: white;
}

.project-about-section .project-group-students ul li .icon-person {
    margin-right: .3rem;
}

.packing {
    margin: 1rem;
    padding: .25rem 1rem;
    border: 3px solid white;
}

.packing p {
    line-height: 1.3rem;
    padding: .25rem 0;
}

.packing ul {
    list-style: disc;
    color: white;
    margin: .5rem 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-about-section .packing-image {
    width: 100%;
    max-width: 400px;
    height: auto;

    display: block;
    margin: .5rem auto;
}

.project-about-section p {
    color: white;
}

/* MATERIALS - PREPARATION*/
h1#packing-materials .icon-material, h1#packing-preparation .icon-tools {
    color: white;
    font-weight: 400;
    margin-left: .5rem;
}

#packing-materials-section .container, #packing-preparation-section .container {
    background-color: rgba(32, 187, 192, 0.3);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preparation-packing-image, .materials-packing-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: .5rem auto 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

.packing-materials, .packing-preparation {
    border-radius: .5rem;
    overflow: hidden;
    padding-bottom: .5rem;
}

#packing-materials-section .container, #packing-preparation-section .container {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white; 
}

.packing-ul-materials-preparation {
    list-style: circle;
    padding: .5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
    color: white;
}

.packing-name {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    padding-top: .25rem;
    margin-bottom: .5rem;
    border-bottom: 3px solid white;
}

.packing-text {
    font: 400 1rem var(--text-font);
    padding: .5rem;
    line-height: 1.4rem;
}

.packing-video {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    padding-bottom: .25rem;
}

/* ==== MATERIALS ====*/
.packing-materials {
    border: 2px solid rgb(28, 175, 155);
}

/* ==== PREPARATION ====*/
.packing-preparation {
    border: 2px solid rgb(16, 133, 201);
}

/* Finals*/

#finals .container{
    border: 2px solid white;
    border-radius: .5rem;
    margin: 0 1.5rem;
    padding: 0 1rem;
}

#finals p {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

#finals strong {
    color: rgb(0, 128, 11);
}

/* HEADER */
@media (min-width: 400px) {
    #nav .show ul li a{
        font: 700 2rem var(--title-font);
    }
}

@media (min-width: 601px) and (max-width: 899px){
    #nav {
        justify-content: space-around;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    #nav .logo {
        max-width: 500px;
    }
}

@media (min-width: 700px) {
    #nav .show ul li a{
        font: 700 2.5rem var(--title-font);
    }
}

@media (min-width: 900px) {
    .icon-menu {
        display: none;
    }

    .logo {
        max-width: 260px;
        margin-right: 1.9rem;
    }

    #nav .menu {
        visibility: visible;
        opacity: 1;
        pointer-events: all;

        height: auto;
        width: auto;
    
        position: static;
    
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    
        transition: none;
    }

    #nav {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        justify-content: space-around;
    }

    .menu ul {
        gap: 2rem;
        justify-content: space-between;
        width: 100%;
        flex-grow: 2;
    }

    .menu ul li {
        max-width: 150px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu ul li:first-child {
        padding-right: 1.5rem;
    }

    .menu ul li a {
        padding: .25rem;
        font: 400 1rem var(--title-font);
        text-align: center;
    }

    .menu ul li a::before {
        left: -2.5%v!important;
        height: 2px;
    }

    .menu ul li a:hover::before {
        width: 105%;
    }
}

@media (min-width: 1100px) {
    .logo {
        margin-right: 2.5rem;
    }

    #nav {
        justify-content: space-around;
    }

    .menu ul {
        justify-content: space-around;
    }

    .menu ul li {
        max-width: 400px;
    }

    .menu ul li a {
        font-size: 1.25rem;
    }
}

@media (min-width: 510px) {
    .project-about-section {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-group-students ul li {
        font-size: 1.25rem;
    }

    .packing .packing-name {
        font-size: 1.75rem;
        line-height: 1.5rem;
    }   

    #packing-materials-section, #packing-preparation-section {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    #packing-preparation-section .projects-title, #packing-materials-section .projects-title {
        font-size: 2rem;
    }

    .packing-preparation {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 601px) {
    #finals .container {
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (min-width: 1050px) {
    .packing-flex-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* gap: 4rem; */
    }
    
    #packing-materials-section, #packing-preparation-section {
        max-width: auto;
        min-width: 350px;
        margin: 0 0;
    }
}