@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* fonts */
    --logo-font: 'Carter One', cursive;
    --title-font: 'Josefin Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --header-height: 4.375rem;
}

.menu.show ul {
    gap: 5rem;
}

.project-about-section .project-group-students {
    margin: 1.5rem  1.5rem 2rem 1.5rem;
}

.project-about-section .project-group-students h3 {
    color: white;
    margin-bottom: 1.5rem;
}

.project-about-section .project-group-students ul {
    padding-left: .5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-left: 2px solid white;
    color: white;
}

.project-about-section .project-group-students ul li .icon-person {
    margin-right: .3rem;
}

.packing {
    margin: 1rem;
    padding: .25rem 1rem .5rem;
    border: 3px solid white;
}

.packing p {
    line-height: 1.3rem;
    padding: .25rem 0;
}

.packing ul {
    list-style: disc;
    color: white;
    margin: .5rem 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-about-section .packing-image {
    width: 100%;
    max-width: 400px;
    height: auto;

    display: block;
    margin: .5rem auto;
}

.project-about-section p {
    color: white;
}

/* MATERIALS - PREPARATION*/
#packing-materials-section .container, #packing-preparation-section .container {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white; 
}

.packing-ul-materials-preparation {
    list-style: circle;
    padding: .5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
    color: white;
}

.packing-name {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    padding-top: .25rem;
    margin-bottom: .5rem;
    border-bottom: 3px solid white;
}

.packing-text {
    font: 400 1rem var(--text-font);
    padding: .5rem;
    line-height: 1.4rem;
}

.packing-video {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    padding-bottom: .25rem;
    border-bottom: 2px solid black;
}

/* ==== MATERIALS ====*/
h1#packing-materials .icon-material {
    color: white;
    font-weight: 400;
}

#packing-materials-section .container {
    background-color: rgba(30, 151, 111, 0.3);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.packing-materials {
    border: 2px solid rgb(28, 175, 155);
    border-radius: .5rem;
    overflow: hidden;
    padding-bottom: .5rem;
}

.materials-packing-image {
    width: 100%;
    display: block;
    height: auto;
    max-width: 350px;  
    margin: .5rem auto 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* ==== PREPARATION ====*/

#packing-preparation-section .container {
    background-color: rgba(32, 187, 192, 0.3);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1#packing-preparation .icon-tools {
    color: white;
    font-weight: 400;
}

.packing-preparation {
    border: 2px solid rgb(16, 133, 201);
    border-radius: .5rem;
    overflow: hidden;
    padding-bottom: .5rem;
}

.preparation-packing-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: .5rem auto 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

#finals .container{
    border: 2px solid white;
    border-radius: .5rem;
    margin: 0 1.5rem;
    padding: 0 1rem;
}

#finals p {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

#finals strong {
    color: rgb(0, 128, 11);
}

@media (min-width: 510px) {
    .project-about-section {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-group-students ul li {
        font-size: 1.25rem;
    }

    .packing .packing-name {
        font-size: 1.75rem;
        line-height: 1.5rem;
    }   

    #packing-materials-section, #packing-preparation-section {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    #packing-preparation-section .projects-title, #packing-materials-section .projects-title {
        font-size: 2rem;
    }

    .packing-preparation, .packing-materials {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 601px) {
    #header #nav .menu.show ul li a {
        font-size: 2.5rem;
    }

    #finals .container {
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    #nav {
        max-width: 750px;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (min-width: 900px) {
    .logo {
        padding-left: 1rem;
        font-size: 1.5rem;
        max-width: min-content;
        margin-right: 2rem;
    }

    .icon-menu {
        display: none;
    }

    #nav {
        /* justify-content: center; */
        padding: 0 3rem;
    }

    #nav .menu {
        visibility: visible;
        opacity: 1;
        
        background: none;
        position: static;

        background: none;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);

        height: auto;
    }
    
    #nav .menu ul {
        width: 100%;
        
        visibility: visible;
        list-style: none;
        
        display: flex;
        align-items: center;
        
        justify-content: space-evenly;
    }

    #nav .menu ul li {
        text-align: center;
        border-left: 3px solid white;
        position: relative;
        max-width: 165px;
    }
    
    #nav .menu ul li:first-child {
        border: none;
        padding-right: 1rem;
    }

    .menu ul li a {
        text-align: center;
        text-decoration: none;
        font: 500 1.25rem var(--text-font);
    }

    .menu ul li a::before {
        position: static;
    }
    
    #nav .menu ul li::before {
        content: '';
        position: absolute;
        bottom: -5%;
        left: -3px;
    
        width: 0;
        height: 3px;
        background-color: white;
    
        transition: width .2s;
    }

    #nav .menu ul li:hover::before {
        width: calc(100% + 6px);
    }
}

@media (min-width: 1050px) {
    #nav {
        max-width: 1100px;
        margin: 0 auto;
    }

    #nav .menu ul {
        justify-content: space-around;
    }

    #nav .menu ul li {
        border-left: none;
        
    }

    #nav .menu ul li{
        width: 150px;
    }

    #nav .menu ul li:first-child {
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
    #nav .menu ul li:first-child::before {
        position: static;
    }

    .packing-flex-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* gap: 4rem; */
    }
    
    #packing-materials-section, #packing-preparation-section {
        max-width: auto;
        min-width: 350px;
        margin: 0 0;
    }
}