@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* fonts */
    --logo-font: 'Carter One', cursive;
    --title-font: 'Josefin Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --header-height: 4.375rem;
}

/* ==== LAYOUTS ==== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 2px black;
    border-radius: 0 0 .5rem .5rem;
}

/* TEXTS */
span.text-info {
    font-weight: 500;
    text-decoration: underline;
    color: rgb(12, 75, 72);
}

a.teacher-href {
    word-break: break-all;
}

/* IMGS */
.img-max-width {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: .5rem 0;
}

/* ==== HEADER ====Q */

#header {
    height: var(--header-height);
    width: 100%;
    /* background-image: linear-gradient(300deg, rgb(52, 207, 38), rgb(31, 175, 168)) */
    background-image: url('/assets/img/header-plants.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-box-shadow {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.7) 
}

.logo {
    font: 400 1.5rem var(--logo-font);
    line-height: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}

.icon-menu, .icon-close {
    font: 400 1.6rem sans-serif;
    cursor: pointer;
    padding: .25rem;
    text-shadow: 2px 2px 2px black;
    color: white;
}

#nav .menu {
    visibility: hidden;
    opacity: 0;
    display: none;
}

#nav .icon-close {
    display: none;
    opacity: 0;
    display: none;
}

/* ==== MAIN ====*/
 
main {
    background-color: white;
    margin-top: var(--header-height);
    margin-bottom: 1rem;
}

.project-about-section .container {
    background-color: rgba(54, 202, 91, 0.3);
}

h1.project-about-title {
    font: 600 1.6rem var(--title-font);
    position: relative;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    word-break: break-all;
}

h1.project-about-title::before {
    content: ' ';
    position: absolute;
    left: -2.5%;
    bottom: 5%;
    width: 105%;
    height: 2px;
    background-color: rgb(31, 175, 168);
}

p.project-text {
    font: 400 1rem var(--text-font);
    line-height: 1.3rem;
    text-indent: 1rem;
    padding: .5rem;
}

/* Front project */
#projects {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#projects .front-project {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: aquamarine;
    border-radius: .5rem;

    text-decoration: none;
}

.front-project div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.project-front-name {
    font: 500 1.5rem var(--title-font);
    color: white;
    text-shadow: 3px 3px 3px black;    
}

#projects .front-project i {
    font: 400 1.25rem sans-serif;
    color: white;
    text-shadow: 2px 2px 1px black;
}

#projects .front-project-01 {
    background-image: url('/projects/1A/img/project-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-blend-mode: luminosity; */
}

