@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* fonts */
    --logo-font: 'Carter One', cursive;
    --title-font: 'Josefin Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --header-height: 4.375rem;
}

/* ==== LAYOUTS ==== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    position: relative;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* TEXTS */
a.teacher-href {
    word-break: break-all;
}

/* IMGS */
.img-about {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: .5rem 0;
}

/* toUpperPage */
.toUpPage {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    bottom: -2rem;
    right: 2rem;
    z-index: 10;
    
    border-radius: 50%;

    background-color: rgb(49, 226, 188);

    box-shadow: 2px 2px 1px rgba(0, 0, 0, 1);

    padding: .3rem;
    font-size: 2rem;

    cursor: pointer;
    
    transition-duration: .3s;
}

.toUpPage:hover {
    background-color: rgb(30, 196, 160);
}

body .toUpPage-show {
    opacity: 1;
    visibility: visible;
    bottom: 1.75rem;
}

/* ==== HEADER ====Q */
#header {
    height: var(--header-height);
    width: 100%;
    /* background-image: linear-gradient(300deg, rgb(52, 207, 38), rgb(31, 175, 168)) */
    /* background-image: url('/assets/img/header-plants.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: rgba(42, 196, 163, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-box-shadow {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.7) 
}

.logo {
    font: 400 1.3rem var(--logo-font);
    line-height: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}

.icon-menu, .icon-close {
    font: 400 1.6rem sans-serif;
    cursor: pointer;
    padding: .25rem;
    text-shadow: 2px 2px 2px black;
    color: white;
}

.menu {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -25rem;
    left: 0;

    background-image: linear-gradient(45deg, rgb(163, 255, 25) 25%, rgb(14, 150, 48), rgb(0, 138, 202));

    transition: .3s;
}

.icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -2rem;
    right: 2.5rem;

    transition: .5s;
}

#nav .btn-close-show {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    right: 2.5rem;
    z-index: 11;

    font-size: 2rem;
}

#nav .menu.show {
    visibility: visible;
    opacity: 1;

    width: 100vw;
    height: 100vh;

    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(45deg, rgb(163, 255, 25) 25%, rgb(14, 150, 48), rgb(0, 138, 202));
}

.menu ul li a {
    position: relative;
    color: white;
}

.menu ul li a::before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: -5%;

    width: 0;
    height: 3px;
    background-color: white;

    transition: width .3s;
}

.menu ul li a:hover::before {
    width: 110%;
}

.menu ul {
    display: none;
}

.menu.show ul {
    visibility: visible;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.menu.show ul a {
    text-decoration: none;
    font: 700 3.5rem var(--title-font);
    text-shadow: 3px 3px 1px black;
    padding: .25rem;
}


/* ==== MAIN ====*/
 
main {
    background-color: white;
    margin-bottom: 1rem;
}

.project-about-section {
    padding-top: var(--header-height);
}

.project-about-section .container {
    background-color: rgba(54, 202, 91, .2);
    box-shadow: 0 0 .5rem 2px black;
    border-radius: 0 0 .5rem .5rem;
}

.title {
    font: 600 1.6rem var(--title-font);
    position: relative;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    word-break: break-all;
}

.title::before {
    content: ' ';
    position: absolute;
    left: -2.5%;
    bottom: 0;
    width: 105%;
    height: 2px;
    background-color: rgb(31, 175, 168);
}

p.project-text {
    font: 400 1rem var(--text-font);
    line-height: 1.3rem;
    text-indent: 1rem;
    padding: .5rem 1rem;
}

/* Front project */
.projects-title {
    padding-top: 5rem;
}

#projects {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#projects .front-project {
    width: 100%;
    max-width: 300px;
    border-radius: .5rem;
    text-decoration: none;

    position: relative;
    
    border-radius: .5rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0;

    box-shadow: 2.5px 2.5px 1px 1px rgba(0, 0, 0, 0.7);
}

#projects .front-project:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

#projects .front-project img {
    width: 100%;
}

.front-project div{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(17, 238, 164, 0.4);
}

#projects .low div{
    position: relative;
    bottom: auto;
    left: auto;

    background-color: rgba(13, 182, 117, 0.7);
}


.project-front-name {
    font: 500 1.5rem var(--title-font);
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    padding-top: .25rem;
}

#projects .front-project i {
    font: 400 1.25rem sans-serif;
    color: white;
    text-shadow: 2px 2px 1px black;
}

/* ==== FOOTER ==== */
#footer {
    background-color: rgba(42, 196, 163, 0.5);
    box-shadow: 0px 0px 5px 1px black;
    margin-top: 2rem;
    padding-bottom: .5rem;
}

#footer div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-title {
    font: 400 1.25rem var(--title-font);
}

#footer a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

#footer p {
    text-align: center;
    font: 400 1.25rem sans-serif;
}

@media (min-width: 380px) {
    .logo {
        font-size: 1.5rem;
    }
}

@media (min-width: 470px) {
    #nav {
        padding: 0 1.5rem;
    }   
}

@media (min-width: 800px) {
    .logo { 
        font-size: 2rem;
    }

    .icon-menu {
        display: none;
    }

    #nav {
        justify-content: space-around;
    }

    #nav .menu {
        visibility: visible;
        opacity: 1;
        
        background: none;
        position: static;
    }

    #nav .menu ul {
        visibility: visible;
        list-style: none;

        display: flex;
        gap: 4rem;
        flex-grow: 2;
    }

    .menu ul a {
        text-decoration: none;
        font: 500 1.5rem var(--text-font);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.719);
    }
}